



<router-outlet></router-outlet>

<br><hr>

<!--<div class="gtco-loader"></div>-->



<!-- <div class="page-inner"> -->








<!--&lt;!&ndash; jQuery &ndash;&gt;-->
<!--<script src="js/jquery.min.js"></script>-->
<!--&lt;!&ndash; jQuery Easing &ndash;&gt;-->
<!--<script src="js/jquery.easing.1.3.js"></script>-->
<!--&lt;!&ndash; Bootstrap &ndash;&gt;-->
<!--<script src="js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; Waypoints &ndash;&gt;-->
<!--<script src="js/jquery.waypoints.min.js"></script>-->
<!--&lt;!&ndash; Carousel &ndash;&gt;-->
<!--<script src="js/owl.carousel.min.js"></script>-->
<!--&lt;!&ndash; countTo &ndash;&gt;-->
<!--<script src="js/jquery.countTo.js"></script>-->

<!--&lt;!&ndash; Stellar Parallax &ndash;&gt;-->
<!--<script src="js/jquery.stellar.min.js"></script>-->

<!--&lt;!&ndash; Magnific Popup &ndash;&gt;-->
<!--<script src="js/jquery.magnific-popup.min.js"></script>-->
<!--<script src="js/magnific-popup-options.js"></script>-->

<!--&lt;!&ndash; Datepicker &ndash;&gt;-->
<!--<script src="js/bootstrap-datepicker.min.js"></script>-->


<!--&lt;!&ndash; Main &ndash;&gt;-->
<!--<script src="js/main.js"></script>-->



<!--<div class="row">-->
<!--  <div *ngFor="let ag of agent">-->
<!--    <app-package-item-->
<!--      *ngFor="let pack of ag.packages"-->
<!--      [package]="pack"-->
<!--      [agent]="ag"-->
<!--      [index]="pack.id"-->
<!--      ></app-package-item>-->
<!--  </div>-->
<!--</div>-->







<!--<div class="row">-->
<!--  <div class="col-sm-3 form-group">-->
<!--    <label>Min Price</label>-->
<!--    <input for="amount" class="form-control" [(ngModel)]="minAmount" type="number">-->
<!--  </div>-->
<!--  <div class="col-sm-3 form-group">-->
<!--    <label>Min Price</label>-->
<!--    <input for="amount" class="form-control" [(ngModel)]="maxAmount" type="number">-->
<!--  </div>-->
<!--</div>-->

<!--<hr>-->
<!--<app-package-list-->
<!--  *ngIf="onPackagePageNavigation ==='package'"-->
<!--  (click)="onNavigation('package-detail')"></app-package-list>-->

<!--<div *ngIf="onPackagePageNavigation === 'package-detail'">-->
<!--  <app-package-detail-->
<!--    *ngIf="selectPackage"-->
<!--    [pkg]="selectPackage" ></app-package-detail>-->
<!--</div>-->
