
<!--The div element for the map -->



<div class="col-lg-4 col-md-4 col-sm-6">

  <a [routerLink]="['/','hotel', hotel.id]" class="fh5co-card-item image-popup">
    <br>
    <div id="map"></div>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var uluru = {lat: -25.344, lng: 131.036};
        // The map, centered at Uluru
        var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 4, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>
    <div class="fh5co-text">
      <h2>{{hotel.name}}</h2>
      <p>{{hotel.city}}</p>
      <p>{{hotel.address}}</p>
<!--      <p><span class="btn btn-primary">View Profile</span></p>-->
    </div>
  </a>
</div>
